[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-restful = "*"
flask-migrate = "*"
flask-bcrypt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.2"
